---
import type { GetStaticPaths } from "astro";
import { getAllPhotos } from "../../../utils/getAllPhotos";
import PhotosLayout from "../../../layouts/PhotosLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const photos = await getAllPhotos()
  const uniqueCameras = [...new Set(photos.map((photo) => photo.data.camera))];
  return uniqueCameras.flatMap((camera) => {
    const filterdPhotos = photos.filter((photo) =>
      photo.data.camera.includes(camera)
    );
    return paginate(filterdPhotos, {
      params: { camera },
      pageSize: 9,
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;
---

<PhotosLayout title={params.camera} page={page}>
  <a href="/photos" class="block mt-3">Back to all photos</a>
</PhotosLayout>
