---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import PhotosLayout from "../../../layouts/PhotosLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const photos = await getCollection("photos");
  const uniqueCameras = [...new Set(photos.map((photo) => photo.data.camera))];
  return uniqueCameras.flatMap((camera) => {
    const filterdPhotos = photos.filter((photo) =>
      photo.data.camera.includes(camera)
    );
    const sortedFilterdPhoto = filterdPhotos.sort((a, b) => {
      return Number(a.slug.replace("photo-", "")) - Number(b.slug.replace("photo-", ""));
    });
    return paginate(sortedFilterdPhoto, {
      params: { camera },
      pageSize: 9,
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;
---

<PhotosLayout title={params.camera} page={page}>
  <a href="/photos">Back to all photos</a>
</PhotosLayout>
