---
import { getCollection } from "astro:content";
import WhitePanel from "./WhitePanel.astro";
import PhotoFrame from "./PhotoFrame.astro";

const photos = await getCollection("photos");
const photoSlugs = photos.map((photo) => photo.slug);

function getRandomIndex(max: number) {
  return Math.floor(Math.random() * max);
}

let randomPhotos = [];

for (let i = 0; i < 9; i++) {
  randomPhotos.push(...photoSlugs.splice(getRandomIndex(photoSlugs.length), 1));
}

const { allPhotos = photos } = Astro.props;
---

<WhitePanel date-photos={allPhotos}>
  <h2 class="text-3xl mb-4">Photos</h2>
  <div class="grid grid-cols-3 grid-rows-3 md:grid-rows-none gap-1 mb-4">
    {randomPhotos.map((photo) => <PhotoFrame slug={photo} />)}
  </div>
  <a href="/photos/">and more...</a>
</WhitePanel>
