---
import Layout from "../layouts/Layout.astro";
import SelfIntroduction from "../components/SelfIntroduction.astro";
import LatestPosts from "../components/LatestPosts.astro";
import RandomPhotos from "../components/RandomPhotos.astro";
---

<Layout title="Yeti's Planet" h1={false}>
  <div class="grid gap-4">
    <SelfIntroduction />
    <LatestPosts />
    <RandomPhotos />
  </div>
</Layout>
