---
import Layout from "../layouts/Layout.astro";
import ImageFrame from "../modules/ImageFrame.astro";

const photoPaths = Object.keys(import.meta.glob("../images/photos/*.jpg"));
const trimPhotoPaths = photoPaths.map((photo) => photo.slice(17));
const sortedPaths = trimPhotoPaths.sort((a, b) => {
  const prev = +a.slice(6, -4)
  const current = +b.slice(6, -4)
  return prev - current
})
---

<Layout title="photo">
  <h1>photo</h1>
  <div class="grid grid-cols-3 gap-1">
    {
      sortedPaths.map((src) => (
        <a href={`/photos/${src.slice(0, -4)}/`} class="aspect-square block">
          <ImageFrame srcPaths={[`photos/${src}`]} classNames="h-full object-cover"/>
        </a>
      ))
    }
  </div>
</Layout>
