---
import Layout from "../layouts/Layout.astro";
import ImageFrame from "../modules/ImageFrame.astro";

const photoPaths = Object.keys(import.meta.glob("../images/photos/*.JPG"));
const trimPhotoPaths = photoPaths.map((photo) => photo.slice(10));
---

<Layout title="photos">
  <h1>photos</h1>
  <div class="grid grid-cols-3 gap-1">
    {
      trimPhotoPaths.map((src) => (
        <div class="aspect-square">
          <ImageFrame srcPaths={[src]} classNames="h-full object-cover" />
        </div>
      ))
    }
  </div>
</Layout>
