---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ImageFrame from "../modules/ImageFrame.astro";

const posts = await getCollection('posts')
---

<Layout title="posts">
  <div>
    {posts.map(post => (
      <article>
        <ImageFrame srcPaths={[`posts/${post.data.img}.jpg`]}/>
        <a href={`/posts/${post.slug}/`} data-astro-prefetch>{post.data.title}</a>
      </article>
    ))}
  </div>
</Layout>