---
import Canvas from "./Canvas";
---

<div class="r3f aspect-square touch-none">
  <Canvas client:only="react" />
</div>

<style>
  .r3f {
    iframe {
      width: 1024px;
      height: 670px;
      border-radius: 20px;
      background: #000000;
    }
  }
</style>
