---
import { getAllPhotos } from "../utils/getAllPhotos";

const photos = await getAllPhotos();
const uniqueCameras = [...new Set(photos.map((photo) => photo.data.camera))];

const url = decodeURI(Astro.url.pathname);
---

<div class="bg-panel rounded shadow-sm p-5">
  <p class="mb-4 text-lg">Camera 📷</p>
  <div class="flex gap-2 flex-wrap">
    {
      uniqueCameras.map((camera) => (
        <a
          class={`block rounded-full px-3 hover:opacity-70 ${url.includes(camera) ? "bg-gray-400" : "bg-tag"}`}
          href={`/photos/${camera}/`}
        >
          {camera}
        </a>
      ))
    }
  </div>
</div>
