---
import GithubIcon from "./GithubIcon.astro"
import YoutubeIcon from "./YoutubeIcon.astro"
---

<footer class="bg-black h-52 grid place-items-center">
  <div class="grid grid-cols-2 w-28 place-items-center gap-6">
    <a class="block" href="https://github.com/chumsantacruz">
      <GithubIcon />
    </a>
    <a class="block" href="https://www.youtube.com/@yeti2061">
      <YoutubeIcon />
    </a>
  </div>
</footer>
