---

---

<header
  class="sticky shadow top-0 z-50 w-full bg-slate-50 h-16 grid place-items-center grid-cols-header px-5"
>
  <button data-button="open" class="w-full h-7 grid place-items-center">
    <span class="w-full block bg-black h-0.5"></span>
    <span class="w-full block bg-black h-0.5"></span>
    <span class="w-full block bg-black h-0.5"></span>
  </button>
  <p class="text-3xl -ml-6 text-black font-bold text-center">Yeti Hideout</p>
  <nav
    data-nav
    class="transition-transform -translate-x-full px-5 pt-2 absolute grid grid-rows-nav top-0 bg-white left-0 z-10 w-80 h-120"
  >
    <div class="h-14">
      <button data-button="close" class="w-14 aspect-square">
        <span class="block w-12 h-0.5 bg-black rotate-45 translate-y-0.5"
        ></span>
        <span class="block w-12 h-0.5 bg-black -rotate-45"></span>
      </button>
    </div>
    <ul class="w-full self-center grid auto-rows-max gap-8 text-3xl pl-16">
      <li>
        <a data-link href="/" data-astro-prefetch>Home</a>
      </li>
      <li>
        <a data-link href="/posts/" data-astro-prefetch>Posts</a>
      </li>
      <li>
        <a data-link href="/photos/" data-astro-prefetch>Photo</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const btn_open = document.querySelector('[data-button="open"]');
    const btn_close = document.querySelector('[data-button="close"]');
    const nav = document.querySelector("[data-nav]");
    btn_open?.addEventListener("click", () => {
      nav?.classList.replace("-translate-x-full", "translate-x-0");
      if (nav?.classList.contains("invisible")) {
        nav?.classList.remove("invisible");
      }
    });
    btn_close?.addEventListener("click", () => {
      nav?.classList.replace("translate-x-0", "-translate-x-full");
    });
  });
</script>
