---
const { page } = Astro.props;
---

{
  page.url.prev || page.url.next ? (
    <div class="grid grid-cols-2 my-3">
      {page.url.prev ? (
        <a class="" href={page.url.prev}>
          Previous
        </a>
      ) : null}
      {page.url.next ? (
        <a class="col-start-2 col-end-3 justify-self-end" href={page.url.next}>
          Next
        </a>
      ) : null}
    </div>
  ) : null
}
