<nav class="bg-gray-50 rounded shadow-sm">
  <ul class="text-3xl p-5 grid gap-5">
    <li><a class="hover:opacity-70" href="/">Home</a></li>
    <li><a class="hover:opacity-70" href="/posts">Posts</a></li>
    <li><a class="hover:opacity-70" href="/photos">Photos</a></li>
  </ul>
</nav>