---
import Layout from "./Layout.astro";
import ImageFrame from "../modules/ImageFrame.astro";
import BackLink from "../components/BackLink.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.img}>
  <div class="grid gap-5">
    <div class="grid w-fit mx-auto place-items-center">
      <ImageFrame srcPaths={[`photos/${frontmatter.img}.jpg`]} />
    </div>
    <p>
      camera: <a href={`/photos/${frontmatter.camera}/`}>{frontmatter.camera}</a
      >
      <br />
    </p>
    <slot />
    <BackLink />
  </div>
</Layout>
