---
import Layout from "./Layout.astro";
import Pagination from "../components/Pagination.astro";
import PhotoFrame from "../components/PhotoFrame.astro";

const {title, page} = Astro.props
---

<Layout title={title}>
  <p>page: {page.currentPage}</p>
  <div class="grid grid-cols-3 grid-rows-3 md:grid-rows-none gap-1 mt-3">
    {page.data.map((photo: {
      id: string;
      slug: string;
      body: string;
      collection: string;
      data: {
          img: string;
          camera: string;
          film: string;
      }}) => <PhotoFrame slug={photo.slug} />)}
  </div>
  <Pagination page={page}/>
  <slot />
</Layout>