---
import Layout from "./Layout.astro";
import BackLink from "../components/BackLink.astro";
import '../styles/post.scss'
const {frontmatter} = Astro.props
---

<Layout title={frontmatter.title}>
  <div class="markdown">
    <h1>{frontmatter.title}</h1>
    <p>日付: {frontmatter.pubDate.toLocaleDateString("ja-JP")}</p>
    <slot />
  </div>
  <BackLink />
</Layout>